<app-header></app-header>

<html>
<head>
	<title> Coffee Shop </title>
	
	
</head>
<body>
	
	
	
	<div class="middle">
		<div style="background-image:url('assets/images/a.jpg');">
		<p>
			<br> <br>
			<font size="5px"> Coffee Makes Everything Better!!!!</font>
		</p> 
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> Outting the cafe in caffeine. </font> <br> <br>

					<font color="#000" size="5px"> We Have best Brews for You! </font> <br> <br>
                   <ul>
				<li>The principal taste of Coffee isn’t consistently the best one since it isn’t the ideal mix or it isn’t the right taste.
			   <li>My first taste was solid and unpleasant, yet with a sweet delayed flavour impression, that consumed the top of my mouth.
		       <li>It wasn’t the best however the following cup of joe I had stirred my adoration for Coffee. 
	           <li>It kept me alert in general and evenings assuming you will yet the simple taste was what made a difference most to me.
</ul>
<br>
 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>